# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.vscode

archive
tests
test_*.py

bin
*.sh

dist
*.egg-info
test

*.c
build
t.py
setup.py
*.so
*.pyx
neighbors_test.py

Neighbors_C